<legend>Welcome to myCRM</legend>
<div class="well" id="index">
  <ul>
      <p>		Please select an option from the navigation bar above. 
      	<br>
      	<br>
      			When using the search, please remember to select a search filter from the dropdown menu!
      </p>
  </ul>
</div>