<div class="page-header">
  </div>
  <fieldset>
    <legend>Add Inventory</legend>
    <div class="well" id="contact-well">
      <form class="form-horizontal" role="form" action="/inventory/new" method="POST">
        <div class="form-group">
        <label for="item_brand" class="col-sm-2 control-label">Brand:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="item_brand" placeholder="Ex. Apple" name="item_brand"></input>
        </div>
            </div>
            <div class="form-group">
        <label for="item_type" class="col-sm-2 control-label">Type:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="item_type" placeholder="Ex. 32 GB iPhone 6" name="item_type"></input>
        </div>
    </div>
     <div class="form-group">
        <label for="item_color" class="col-sm-2 control-label">Color:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="item_color" placeholder="Ex. White" name="item_color"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="item_quantity" class="col-sm-2 control-label">Quantity:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="item_quantity" placeholder="Ex. 100" maxlength="30" name="item_quantity"></input>
        </div>
    </div>
     <div class="form-group">
        <label for="item_cost" class="col-sm-2 control-label">Unit Cost ($):</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="item_cost" placeholder="Ex. 10" maxlength="30" name="item_cost"></input>
        </div>
    </div>
     <div class="form-group">
        <label for="item_sales_price" class="col-sm-2 control-label">Sales Price ($):</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="item_sales_price" placeholder="Ex. 150" maxlength="30" name="item_sales_price"></input>
        </div>
    </div>
     <div class="form-group">
        <label for="item_sales_tax" class="col-sm-2 control-label">Sales Tax:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="item_sales_tax" value="1.13" maxlength="30" name="item_sales_tax" readonly=""></input>
        </div>
    </div>
    <div class="form-group">
        <label for="item_note" class="col-sm-2 control-label">Notes:</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" id="state" maxlength="300" name="postal_code"></input>
        </div>
    </div>
    <div class="form-group">
        <label for="submit" class="col-sm-2 control-label"></label>
        <div class="col-sm-2">
            <input type="submit" class="form-control" id="submit" placeholder="Submit" maxlength="30"></input>
        </div>
    </div>
    </fieldset>
</form>
</div>