<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <strong>First Name:</strong> <input type="text" name="first_name">
  <strong>Last Name:</strong> <input type="text" name="last_name">
  <strong>Email:</strong> <input type="text" name="email">
  <strong>Note:</strong> <input type="text" name="note">
  <input type="submit" name="Submit">
</form>